:root {
  --color1: #181818;
  --color1-active: #3b3b3b;
  --color2: #d1ffd4c7;
  --color3: #d1ffd4;
  --color2-rgb: 52, 222, 122;
  /* --color2-active: #92d896c7; */
  /* --color3: #0efcd4a1; */
  /* --color3-active: #92d896c7; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
html {
  background-color: var(--color1);
  overflow: hidden;
  height: 100%;
}

.body {
  overscroll-behavior: none; /* отключает "bounce" и pull-to-refresh */
  height: 100%;
  overflow: hidden;
  background: transparent;
  width: '100vw';
}

.scrollable {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* плавный скролл на iOS */
  overscroll-behavior: contain; /* не передаёт скролл родителю */
}

.app__container {
  width: 100%;
  color: var(--color2);
  height: 100%;
}

.app__wrapper {
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .video {
    height: 120vh;
  }
  @media (max-width: 450px) {
    .video {
      display: none;
    }
  }
}
