:root {
  --color1: #181818;
  --color1-active: #3b3b3b;
  --color2: #d1ffd4c7;
  --color3: #d1ffd4;
  --color2-rgb: 52, 222, 122;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

html {
  background-color: var(--color1);
  overflow: hidden;
  height: 100vh;
  height: 100dvh;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

body {
  overscroll-behavior: none;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background: transparent;
  width: 100vw;
  margin: 0;
  padding: 0;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.scrollable {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

.app__container {
  width: 100%;
  color: var(--color2);
  height: 100dvh;
}

.app__wrapper {
  width: 100vw;
  max-height: 100vh;
  max-height: 100dvh;
  overflow: hidden;
}

.video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

/* @media (min-width: 768px) and (max-width: 1024px) {
  .video {
    height: 120vh;
  }
  @media (max-width: 450px) {
    .video {
      display: none;
    }
  }
} */
